{% extends "core/file_base.html" %}
{% block js %}
{{ form.media }}
{% endblock %}
{% block body_main %}
   <form action="." method="POST">
	{% csrf_token %}
	<table border="1">
		{{ form.as_table }}
	</table>
	<button type="submit" title="Записать" class="plain"> &check; </button>
	<a href="{% if object %} {% url 'file_view' object.pk %} {% else %} {% url 'file_list' %} {% endif %}">
        <button type="button" title="Отказаться" class="plain"> &cross; </button> </a>
   </form>
{% endblock %}
