{% extends "core/file_base.html" %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
    <table width="auto" border="1">
    <caption> {% trans 'File details:' %}</caption>
     <tbody>
      <tr> <th> &numero; </th> <td> {{ object.pk }} </td> </tr>
      <tr> <th> {% trans "File" %} </th> <td> {{ object.file.name }} </td> </tr>
      <tr> <th> {% trans "Name" %} </th> <td> {{ object.name }} </td> </tr>
      <tr> <th> MIME </th> <td> {{ object.mime }} </td> </tr>
      <tr> <th> {% trans "Created" %} </th> <td> {{ object.ctime }} </td> </tr>
      <tr> <th> {% trans "Size" %} </th> <td> {{ object.size }} </td> </tr>
      <tr> <th> CRC </th> <td> {{ object.crc }} </td> </tr>
     </tbody>
    </table>
    <a href="{% url 'file_update' object.pk %}"> {% button 'edit' %} </a>
    <a href="{% url 'file_get' object.pk %}"> {% button 'dl' %} </a>
    <a href="{% url 'file_show' object.pk %}"> {% button 'show' %} </a>
    <a href="{% url 'file_delete' object.pk %}"> {% button 'del' %} </a>
{% endblock %}
