{% extends "core/file_base.html" %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
{% include "paginator.html" %}
<table width="auto" border="1">
<thead>
 <tr>
  <th> &numero; </th>
  <th> {% trans "Name" %} </th>
  <th> MIME </th>
  <th> CTime </th>
  <th> {% trans "Size" %} </th>
     <th> Doc </th>
     <th>
         <a href="{% url 'file_add' %}"> {% button 'add' %} </a>
     </th>
 </tr>
</thead>
<tbody>
{% for object in object_list %}
 <tr>
  <td> {{ object.pk }} </td>
  <td> <a href="{% url 'file_view' object.pk %}"> {{ object.name }} </a> </td>
  <td> {{ object.mime }} </td>
  <td> {{ object.ctime|date:"y.m.d H:i:d" }} </td>
  <td> {{ object.size }} </td>
    <td> {%  if object.document %} <a href="{% url 'doc_view' object.pk %}"> &#128206; </a> {% endif %} </td>
    <td>
        <a href="{% url 'file_show' object.pk %}"> {% button 'show' %} </a>
        <a href="{% url 'file_get' object.pk %}"> {% button 'dl' %} </a>
        <a href="{% url 'file_update' object.pk %}"> {% button 'edit' %} </a>
        <a href="{% url 'file_delete' object.pk %}"> {% button 'del' %} </a>
    </td>
{% endfor %}
</tbody>
</table>
{% endblock %}
