body {
}

nav {
    background-color: #EBEFF9;
    border-color: red;
}

nav > h1 {
    border-color: black;
}

main {
    background-color: silver;
    border-color: orange;
}

footer {
    background-color: #F8F8F8;
    // border-color: green;
}
