nav {
    background-color: #EBEFF9;
}

footer {
    background-color: #F8F8F8;
}

button {
    border-color: silver;
    background-color: Transparent;  // #F8
}

button:hover {
    background-color: greenyellow;
}

th {
    background-color: #F8F8F8;
}
table.list > tbody > tr:nth-child(even) {
    background-color: #F2F2F2;
}

table.list > tbody > tr > td:hover {
    background-color: yellow;
}
