nav {
    // border-top: 5px solid #EBEFF9;
}

a {
    text-decoration: none;
}

button {
	border-style: solid;
	cursor: pointer;
    text-decoration: none;
}

table.list {
        border-collapse: collapse;
        border: none;
}

table.list td {
    border: none;
}
