body {
}

nav {
    border-style: dotted;
    border-width: 1px;
}

nav > h1 {
    border-style: dashed;
    border-width: 1px;
}

main {
    border-style: dotted;
    border-width: 1px;
}

footer {
    border-style: dotted;
    border-width: 1px;
}
