* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

nav {
}

nav > h1 {
    font-size: 14pt;
}

footer {
}

button {
    border-width: 1px;
    font-size: 14pt;
    min-width: 32px;
    height: 24px;
	border-radius: 5px;
}

img.svg {
	width: 16px;
}
