{% extends "shipment/document_base.html" %}
{% load i18n %}
{% load mytags %}
{% block meta %} <meta http-equiv="refresh" content="300"> {% endblock %}
{% block js %}
{% endblock %}
{% block css %}
 tr.shipment td {
  cursor:pointer;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
 }
{% endblock %}
{% block body_main %}
{% include "paginator.html" %}
<table width="auto" border="1">
    <thead>
    <tr>
        <th> &numero; </th>
        <th> Shipper </th>
        <th> Org </th>
        <th> Date </th>
        <th> Type </th>
        <th> Comments </th>
        <th>
            <a href="{% url 'doc_add' %}"> {% button 'add' %} </a>
        </th>
    </tr>
    </thead>
<tbody>
{% for object in object_list %}
    <tr class="list" onclick="window.document.location='{% url 'doc_view' object.pk %}'">
        <td align="right"> {{ object.pk }} </td>
        <td> {{ object.shipper.name }} </td>
        <td> {{ object.org.name }} </td>
        <td> {{ object.date }} </td>
        <td> {{ object.doctype.name }} </td>
        <td> {{ object.comments }} </td>
         <td>
        <a href="{% url 'file_show' object.pk %}"> <button type="button"> &plus; </button> </a>
        <a href="{% url 'file_get' object.pk %}"> <button type="button"> &darr; </button> </a>
            <a href="{% url 'doc_update' object.pk %}"> {% button 'edit' %} </a>
            <a href="{% url 'doc_delete' object.pk %}"> {% button 'del' %} </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
