{% extends "shipment/document_base.html" %}
{% block css %}
	fieldset {
		background-color: gainsboro;
		border-color: gainsboro;
		border-radius: 5px;
		padding: 5px;
		vertical-align: top;
	}
	legend {
		background-color: white;
		border-radius: 5px;
		padding: 0px 10px;
	}
	fieldset table {
		background-color: white;
	}
{% endblock %}
{% block body_main %}
<fieldset> <legend> Отгрузка </legend>
<table border="1">
 <tbody>
  <tr> <th> # </th> <td> {{ object.pk }} </td> </tr>
  <tr> <th> Поставщик </th> <td nowrap> {{ object.shipper.name }} </td> </tr>
  <tr> <th> Контрагент </th> <td nowrap> {{ object.org.name }} <br/> ({{ object.org.fullname }}) </td> </tr>
  <tr> <th> Дата </th> <td nowrap> {{ object.date|date:"d.m.y" }} </td> </tr>
  <tr> <th> Тип </th> <td nowrap> {{ object.doctype }} </td> </tr>
  <tr> <th> Comments </th> <td> {{ object.comments }} </td> </tr>
 </tbody>
</table>
</fieldset>

<p style="margin: 0">
 <a href="{% url 'doc_update' object.pk %}" class="nou"> {% include "svgbutton/edit.html" %} </a>
 <a href="{% url 'doc_delete' object.pk %}" class="nou"> {% include "svgbutton/delete.html" %} </a>
</p>
{% endblock %}
