{% extends "shipment/document_base.html" %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
<table border="1">
    <caption> {% trans "Document" %} </caption>
    <tbody>
        <tr> <th> &numero; </th> <td> {{ object.pk }} </td> </tr>
        <tr> <th> {% trans "Shipper" %} </th> <td nowrap> {{ object.shipper.name }} </td> </tr>
        <tr> <th> {% trans "Customer" %} </th> <td nowrap> {{ object.org.name }} <br/> ({{ object.org.fullname }}) </td> </tr>
        <tr> <th> {% trans "Date" %} </th> <td nowrap> {{ object.date|date:"d.m.y" }} </td> </tr>
        <tr> <th> {% trans "Type" %} </th> <td nowrap> {{ object.doctype|default_if_none:"-" }} </td> </tr>
        <tr> <th> {% trans "Notes" %} </th> <td> {{ object.comments|default_if_none:"-" }} </td> </tr>
    </tbody>
</table>

<p style="margin: 0">
    <a href="{% url 'file_show' object.pk %}"> {% button 'show' %} </a>
    <a href="{% url 'file_get' object.pk %}"> {% button 'dl' %} </a>
    <a href="{% url 'doc_update' object.pk %}"> {% button 'edit' %} </a>
    <a href="{% url 'doc_delete' object.pk %}"> {% button 'del' %} </a>
</p>
{% endblock %}
