{% extends "shipment/document_base.html" %}
{% load i18n %}
{% load mytags %}
{% block js %}
{{ form.media }}
{% endblock %}
{% block body_main %}
   <form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table border="1">
		<caption> {% if object %} {% trans "Edit" %}  {% else %} {% trans "New" %}  {% endif %} {% trans "document" %}  </caption>
		{{ form.as_table }}
	</table>
	{% submit 'ok' %}
	<a href="{% if object %} {% url 'doc_view' object.pk %} {% else %} {% url 'doc_list' %} {% endif %}"> {% button 'no' %} </a>
   </form>
{% endblock %}
