{% extends "shipment/document_base.html" %}
{% block js %}
{{ form.media }}
{% endblock %}
{% block body_main %}
   <form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table border="1">
		<caption> {% if object %} Редактировать {% else %} Новая {% endif %} отгрузка </caption>
		{{ form.as_table }}
	</table>
	<button type="submit" title="Записать" class="plain"> {% include "svgbutton/save.html" %} </button>
	<a href="{% if object %} {% url 'doc_view' object.pk %} {% else %} {% url 'doc_list' %} {% endif %}"> <button type="button" title="Отказаться" class="plain"> {% include "svgbutton/cancel.html" %} </button> </a>
   </form>
{% endblock %}
