{% extends "shipment/document_base.html" %}
{% load i18n %}
{% load mytags %}
{% block js %}
{{ form.media }}
{% endblock %}
{% block body_main %}
    <form action="" method="POST">
	    {% csrf_token %}
        <p> {{ form.non_field_errors }}</p>
        <table border="1">
            <caption> {% trans "Edit documents" %}  </caption>
            <tr>
                <th> {{ form.shipper.label_tag }} </th>
                <td> {{ form.shipper_chg }} </td>
                <td title="{{ form.shipper.help_text|safe }}"> {{ form.shipper }} {{ form.shipper.errors }} </td>
            </tr>
            <tr>
                <th> {{ form.org.label_tag }} </th>
                <td> {{ form.org_chg }} </td>
                <td> {{ form.org }} {{ form.org.errors }} </td>
            </tr>
            <tr>
                <th> {{ form.date.label_tag }} </th>
                <td> {{ form.date_chg }} </td>
                <td> {{ form.date }} {{ form.date.errors }} </td>
            </tr>
            <tr>
                <th> {{ form.doctype.label_tag }} </th>
                <th> {{ form.doctype_chg }} </th>
                <th> {{ form.doctype }} {{ form.doctype.errors }} </th>
            </tr>
        </table>
       {{ form.checked }}
	    {% include 'tags/submit.html' %}
	    <a href="{% url 'doc_list' %}"> {% button 'no' %} </a>
    </form>
{% endblock %}
