{% extends "shipment/org_base.html" %}
{% load i18n %}
{% block css %}
 tr.list td {
  cursor:pointer;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
 }
{% endblock %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
{% include "paginator.html" %}
<table width="auto" border="1">
<thead>
 <tr>
  <th> &numero; </th>
  <th> Кратко </th>
  <th> Полностью </th>
     <th> <a href="{% url 'org_add' %}"> {% button 'add' %} </a> </th>
 </tr>
</thead>
<tbody>
{% for object in object_list %}
 <tr class="list" onclick="window.document.location='{% url 'org_view' object.pk %}'">
  <td align="right"> {{ object.pk }} </td>
  <td> {{ object.name }} </td>
  <td> {{ object.fullname|default_if_none:"-" }} </td>
     <td>
        <a href="{% url 'org_update' object.pk %}"> {% button 'edit' %} </a>
        <a href="{% url 'org_delete' object.pk %}"> {% button 'del' %} </a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
