{% extends "shipment/org_base.html" %}
{% block js %}
{{ form.media }}
{% endblock %}
{% block body_main %}
   <form action="." method="POST">
	{% csrf_token %}
	<table border="1">
		{{ form.as_table }}
	</table>
	<button type="submit" title="Записать" class="plain"> {% include "svgbutton/save.html" %} </button>
	<a href="{% if object %} {% url 'org_view' object.pk %} {% else %} {% url 'org_list' %} {% endif %}"> <button type="button" title="Отказаться" class="plain"> {% include "svgbutton/cancel.html" %} </button> </a>
   </form>
{% endblock %}
