{% extends "shipment/org_base.html" %}
{% load i18n %}
{% block css %}
 tr.list td {
  cursor:pointer;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
 }
{% endblock %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
{% include "paginator.html" %}
<form action="">
    {% csrf_token %}
<table class="list">
    <thead>
        <tr>
            <th> {% submit 'join' 'org_merge' %} </th>
            <th> {% trans "Short" %} </th>
            <th> {% trans "Full" %} </th>
            <th> {% trans "Documents" %} </th>
            <th> <a href="{% url 'org_add' %}"> {% button 'add' %} </a> </th>
            <th> {% submit 'del*' 'org_delete_multi' %} </th>
            <th> <input type="checkbox"> </th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td class="num"> {{ object.pk }} </td>
            <td class="txt"> <a href="{% url 'org_view' object.pk %}"> {{ object.name }} </a> </td>
            <td class="txt"> {{ object.fullname|default_if_none:"-" }} </td>
            <td class="num"> {{ object.org_document.count }} </td>
            <td> <a href="{% url 'org_update' object.pk %}"> {% button 'edit' %} </a> </td>
            <td> <a href="{% url 'org_delete' object.pk %}"> {% button 'del' %} </a> </td>
            <td> <input name="checked" value="{{ object.pk }}" type="checkbox"> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}
