{% extends "shipment/org_base.html" %}
{% load i18n %}
{% load mytags %}
{% block body_main %}
<table width="auto" border="1">
 <tbody>
  <tr> <th> Кратко </th> <td> {{ object.name }} </td> </tr>
  <tr> <th> Полностью </th> <td> {{ object.fullname }} </td> </tr>
 </tbody>
</table>
{# if user.is_staff #}
<a href="{% url 'org_update' object.pk %}"> {% button 'edit' %} </a>
<a href="{% url 'org_delete' object.pk %}"> {% button 'del' %} </a>
{# endif #}
    {% for doc in object.org_document.all %}
    <p> {{ doc }}</p>
    {% endfor %}
{% endblock %}
