{% load static %}
{% load i18n %}
{% load mytags %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block meta %} {% endblock %}
	<title> Das Ist {% block title %} ... {% endblock %} </title>
	<!-- 1. me -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<!--link rel="stylesheet" type="text/css" href="{# static 'css/colors.css' #}"/-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/fieldset.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/thumbnails.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/svgbutton.css' %}" />
	<!-- 2. admin (symlink) -->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
	<!--link rel="stylesheet" type="text/css" href="{# static 'admin/css/widgets.css' #} /-->
	{% block js %}
	{% endblock %}
	<style>
	{% block css %}
	{% endblock %}
	</style>
</head>
<body>
	<header> <h1> Das ist shipment </h1> </header>
	<nav id="topmenu">
		<a href="{% url 'index' %}"> {% include "svgbutton/home.html" %} </a>
 		<a href="{% url 'file_list' %}"> {% include "svgbutton/file.html" %} </a>
 		<a href="{% url 'org_list' %}"> {% include "svgbutton/org.html" %} </a>
 		<a href="{% url 'doc_list' %}"> {% include "svgbutton/book.html" %} </a>
		<span style="width: 100%">
			<b> <a href="{% url 'index' %}"> DasIst: </a>
			{% block menu_title %} ... {% endblock %} </b>
		</span>
		<a href="{% url 'admin:index' %}"> {% include "svgbutton/admin.html" %} </a>
	</nav>
	<div>
	{% block body_main %}
		<p> Заглушка </p>
	{% endblock %}
	</div>
<footer> &copy; /me </footer>	
</body>
</html>
