{% load mytags %}
{% if is_paginated %}
<span class="pagination" align="right">
	{% if page_obj.has_previous %}
		<a href="?page=1"> {% button 'beg' %} </a>
		<a href="?page={{ page_obj.previous_page_number }}"> {% button 'prev' %} </a>
	{% else %}
		{% button 'beg' disabled=True %}
		{% button 'prev' disabled=True %}
	{% endif %}
	{{ page_obj.start_index }}..{{ page_obj.end_index }}/{{ paginator.count }}
	({{ page_obj.number }}/{{ paginator.num_pages }})
	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}"> {% button 'next' %} </a>
		<a href="?page={{ paginator.num_pages }}"> {% button 'end' %} </a>
	{% else %}
		{% button 'next' disabled=True %}
		{% button 'end' disabled=True %}
	{% endif %}
</span>
{% endif %}
